html {
    height: 100%;
}

body {
    background: linear-gradient(#1f1818, #831515);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

#wrapper {
    position: absolute;
    width: 960px;
    top: 0;
    left: calc(50% - 480px);
}

.logo {
    text-align: center;
    height: 250px;
    padding: 50px;
}

.logo img {
    height: 100%;
}

#nav {
    position: absolute;
    top: 350px;
    left: 0;
    width: 100%;
    color: #ecdcdc;
    padding: 1em;
    box-sizing: border-box;
    background-color: black;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: pointer;
    text-align: center;
    font-family: 'Manjari', sans-serif;
    z-index: 1;
}

#nav ul {
    list-style: none;
}

#nav ul li {
    display: inline-block;
    margin: 0 0.35em;
    padding: 0;
    vertical-align: middle;
}

#nav ul li a {
    display: inline-block;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 1.25em;
    border: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px transparent;
}

#nav ul li a.active {
    background-color: #b30000;
    color: black;
    box-shadow: none;
}


#container {
    position: absolute;
    top: 417px;
    left: 0;
    width: 100%;
    background: rgba(51, 0, 0, .75);
    color: #ecdcdc;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    padding: 2em;
    box-sizing: border-box;
}

.sticky #nav {
    position: fixed;
    top: 0;
    left: calc(50% - 480px);
    width: 960px;
}

.section {
    line-height: 1.5;
    margin-bottom: 200px;
    clear: both;
}

.section h1 {
    font-size: 3em;
    color: #b30000;
    padding: 1em;
    text-align: center;
}

.section h2 {
    font-size: 1.5em;
    color: #b30000;
    padding: 1em 0 .5em 1em;
}

.section iframe {
    padding: 2em;
    width: 350px;
    height: 500px;
    margin: 0 auto;
    display: block;
}

.section a {
    color: #b30000;
}

.section a:hover{
    text-decoration: underline;
}

.section p {
    padding: .3em;
}

#intro img {
    float: right;
    height: 250px;
    width: auto;
}

.section b {
    font-weight: 900;
    color: #cb8686;
}

.recruit-class {
    float: left;
    border: 2px solid #cb8686;
    border-radius: 25px;
    padding: .9em;
    margin: .5em;
    width: 240px;
    height: 180px;
    text-align: center;
}

.class-icon {
    display: inline-block;
    padding: 0 0.5em 1em -1em;
    vertical-align: middle;
}

.spec-icon {
    vertical-align: middle;
    height: 16px;
    width: 16px;
}

.status-open {
    color: green;
}

.status-closed {
    color: red;
}

.druid-title {
    color: #FF7D0A;
}

.hunter-title {
    color: #ABD473;
}

.mage-title {
    color: #69CCF0;
}

.priest-title {
    color: #FFFFFF;
}

.rogue-title {
    color: #FFF569;
}

.shaman-title {
    color: #0070DE;
}

.warlock-title {
    color: #9482C9;
}

.warrior-title {
    color: #C79C6E;
}